<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="row" id="gradient">
                <div class="col-md-4">
                    <img src="{{product.imageUrl}}" class="img-responsive">
                </div>
            </div>

            <table class="table">
                <tbody>
                    <tr>
                        <td>Product Name: </td>
                        <td>{{product.productName}}</td>
                    </tr>
                    <tr>
                        <td>Category: </td>
                        <td>{{product.category}}</td>
                    </tr>
                    <tr>
                        <td>Color </td>
                        <td>{{product.color}}</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>