.panel-title a {
	text-decoration: none;
	color: white;
}

.panel-title a:hover{
	text-decoration: none;
	color: white;
}

pre	{
	white-space: nowrap;
}

.navbar-brand {
padding: 2px !important ;
}

.navbar {
	margin-bottom: 0px !important ;
}

.page-header h4 {
	    margin-top: 5px !important ;
		margin-bottom: 5px !important ;
}

form {
	margin-top: 30px !important ;
	margin-bottom : 30px !important ;
}


.form-delete {
	margin-top: 0px !important ;
	margin-bottom : 0px !important ;
}


.btn-submit {
	background-color: #438dce !important ;
	color : white !important ;
	height: 100% !important ;
	width: 100% ;
}

#table_wrapper {
	margin-top:  0px !important ;
	margin-bottom: 30px !important ;
}


.dataTables_filter {
	float: right;
}

th select{
	box-sizing: border-box !important;
	width: 100% !important ;
}a

th { outline: none !important; }
.paginate_button a { outline: none !important;  }
.btn  { outline: none !important;  }
tfoot select { outline: none !important }
.navbar-right {
    margin-right: 10px !important;
}
.white-color {
    color: white !important;
    font-size: 18px;
    text-align: center;
}

.white-color:hover
{
	text-decoration: underline !important;
}

.footer {
    border-top: 1px solid #eee;
    text-align: center;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.footer a {
    text-decoration: none;
    color: #666666 !important;
}
.footer a:hover {
    text-decoration: underline;
}

.panel {  box-shadow: none ! important; }
.list-group-item { border-right: 0px !important; border-left: 0px !important;  }
.list-group-item:first-child {
     border-top-right-radius: 0px;
     border-top-left-radius: 0px;
}
.list-group {margin-bottom: 0px !important;}

.fa
{
	margin-right: 5px !important ;
}
.caret
{
	float: right !important ;margin-top: 9.5px;
}

.scroller{ min-height:40px;max-height: 150px; width:100%;  overflow: auto;border: 1px solid #d6d6d6;padding: 15px;}

.br-top{
   margin-top:15px;
}
.br-bottom{
	margin-bottom:15px;
}

.margin-top-60
{
	margin-top: 60px;
}

.margin-top-30
{
	margin-top: 30px;
}

.margin-bottom-30
{
	margin-bottom: 30px;
}

.text-align-left
{
	text-align: left !important;
}

.text-align-center
{
	text-align: center !important;
}

.padding-0
{
	padding: 0;
}

.margin-bottom-10
{
	margin-bottom: 10px !important;
}

.no-padding-left
{
	/*padding-left: 0 !important;*/
}

.center-block
{
	margin-left: auto;
    margin-right: auto;
    display: block;
}

.max-width
{
	display: block;
	width: 100%;
}

.full-width-block
{
	width: 100%;
}

.clear
{
	clear: both;
}
table#myConfigTable tr > td, .table > tfoot > tr > td {

    border-top: none !important;
}

table#myConfigTable{
     border-collapse: initial !important;
}

table#myTargetTable tr > td, .table > tfoot > tr > td {

    border-top: none !important;
}

table#myTargetTable{
     border-collapse: initial !important;
}

table#myPrecheckTable tr > td, .table > tfoot > tr > td {

    border-top: none !important;
}

table#myPrecheckTable{
     border-collapse: initial !important;
}

table#myPostcheckTable tr > td, .table > tfoot > tr > td {

    border-top: none !important;
}

table#myPostcheckTable{
     border-collapse: initial !important;
}

table#myProductTable tr > td, .table > tfoot > tr > td {

    border-top: none !important;
}

table#myProductTable{
     border-collapse: initial !important;
}

.dropdown-menu > li form {
    display: block;
    margin: 0 !important;
    padding: 0;
}

.dropdown-menu > li a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.846;
    color: #666666;
    white-space: nowrap;
}

.dropdown-menu > li a:hover, .dropdown-menu > li a:focus {
    text-decoration: none;
    color: #141414;
    background-color: #eeeeee;
}

.line-charts-container {
	height: 400px;
}

.pie-charts-container {
	height: 350px;
}

.alert {
    margin-bottom: 23px !important;
}

.text-center {
	text-align: center;
}
.panel{
	margin-bottom: 0;
}
.gray-a, .gray-a:focus, .gray-a:active, .gray-a:hover{
	color: #414141;
}

.gray-a:hover{
	opacity: 0.8;
}

.gray-a:active{
	opacity: 0.5;
}


/* Modals */
.modal-message .modal-body, .modal-message .modal-footer, .modal-message .modal-header, .modal-message .modal-title {
    background: 0 0;
    border: none;
    margin: 0;
    padding: 0 20px;
    text-align: center!important;
}

.modal-message .modal-title {
    font-size: 17px;
    color: #737373;
    margin-bottom: 3px;
}

.modal-message .modal-body {
    color: #737373;
}

.modal-message .modal-header {
    color: #fff;
    margin-bottom: 10px;
    padding: 15px 0 8px;
}
.modal-message .modal-header .fa,
.modal-message .modal-header
.glyphicon, .modal-message
.modal-header .typcn, .modal-message .modal-header .wi {
    font-size: 30px;
}

.modal-message .modal-footer {
    margin: 25px 0 20px;
    padding-bottom: 10px;
}

.modal-backdrop.in {
    zoom: 1;
    filter: alpha(opacity=75);
    -webkit-opacity: .75;
    -moz-opacity: .75;
    opacity: .75;
}
.modal-backdrop {
    background-color: #fff;
}
.modal-message.modal-success .modal-header {
    color: #53a93f;
    border-bottom: 3px solid #a0d468;
}

.modal-message.modal-info .modal-header {
    color: #438dce;
    border-bottom: 3px solid #438dce;
}

.modal-message.modal-danger .modal-header {
    color: #d73d32;
    border-bottom: 3px solid #e46f61;
}

.modal-message.modal-warning .modal-header {
    color: #f4b400;
    border-bottom: 3px solid #ffce55;
}
/**************/
.modal-alert .modal-body, .modal-alert .modal-footer, .modal-alert .modal-header, .modal-alert .modal-title {
    background: 0 0;
    border: none;
    margin: 0;
    padding: 0 20px;
    text-align: center!important;
}

.modal-alert .modal-title {
    font-size: 17px;
    color: #737373;
    margin-bottom: 3px;
}

.modal-alert .modal-body {
    color: #737373;
}

.modal-alert .modal-header {
    color: #fff;
    margin-bottom: 10px;
    padding: 15px 0 8px;
}
.modal-alert .modal-header .fa,
.modal-alert .modal-header
.glyphicon, .modal-alert
.modal-header .typcn, .modal-alert .modal-header .wi {
    font-size: 30px;
}

.modal-alert .modal-footer {
    margin: 25px 0 20px;
    padding-bottom: 10px;
}


.modal-alert.modal-success .modal-header {
    color: #53a93f;
    border-bottom: 3px solid #a0d468;
}

.modal-alert.modal-info .modal-header {
    color: #438dce;
    border-bottom: 3px solid #438dce;
}

.modal-alert.modal-danger .modal-header {
    color: #d73d32;
    border-bottom: 3px solid #e46f61;
}

.modal-alert.modal-warning .modal-header {
    color: #f4b400;
    border-bottom: 3px solid #ffce55;
}


.width {
		width:100%;
		max-width:100%;
		min-width:100%;
}

.padding-top-0{
    padding-top: 0px;
}

.highcharts-data-table table{
    width: 100%;
    color: #666666;
}

.highcharts-data-table table caption{
    text-align: center;
}


.highcharts-data-table table tr{
    height: 30px;
    border-bottom: 1px solid #d5d5d5;
}

.highcharts-data-table table th, .highcharts-data-table table td{
    padding-left: 5px;
}

.highcharts-data-table table tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.dataTable a{
    color: #666666;
}